* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url(img/christopher-gower-m_HRfLhgABo-unsplash.jpg);
  background-size: cover;
  backgropund-repeat: no-repeat;
  background-position: center;
  font-family: "Sego UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: white;
  box-shadow: 3x 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: whitesmoke;
  /* border-radius: 50%; */
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  flex-direction: column;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  display: none;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnmobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (maxwidth: 400px) {
  .sidebar {
    width: 100%;
  }
}
